/* index.css */
body {
    font-family: Arial, sans-serif;
    color: purple;
  }
  
  input {
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    color: peru;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    color: blueviolet;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  button {
    background-color: brown;
    color: white;
    border: none;
    padding: 2px 3px;
    cursor: pointer;
  }
